{{ attach_library('nitflex_theme/eyebrow') }}

<div class="eyebrow{{ modifier ? ' ' ~ modifier }}{{- attributes ? attributes.class -}}"
  {{- attributes ? attributes|without(class) -}}>
  <p class="eyebrow__text">
    {{ text }}
  </p>
</div>
